trigger:
  batch: true
  branches:
    include:
    - main

pool:
  vmImage: 'ubuntu-20.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '14.16.0'
  displayName: 'Use Node.js 14.16.0'

- script: |
    npm ci
  displayName: 'Install dependencies'

- script: |
    npm run lint
    npm run compile
  displayName: 'Lint & Compile'

- task: RichCodeNavIndexer@0
  displayName: VS Rich Code Navigation Upload
  inputs:
    languages: typescript
  continueOnError: true