.gitignore
.eslintignore
.lsifrc.json
contributing.md
.azure-pipelines.yml
shared.webpack.config.js
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
.vscode/**
.github/**
build/**
images/**
playgrounds/**
history/**

# The client is web packed. So only ship extension.js
client/*
!client/out
client/out/*
client/out/package.json
!client/out/extension.js

# The server is web packed. So only ship eslintServer.js
server/*
!server/out
server/out/*
server/out/package.json
!server/out/eslintServer.js