.gitignore
.eslintignore
.lsifrc.json
contributing.md
.azure-pipelines.yml
shared.webpack.config.js
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
.vscode/**
.github/**
build/**
images/**
playgrounds/**
history/**

client/out/tests/*
client/src/tests/*